
# This is an example template of how are keys are going to be held. 
# Our strategy to get our keys is to create project specific accounts that we all have login access to.
# When you login, you can grab the api keys and insert them into your own .env files. 


SUPABASE_URL=https://your-project-id.supabase.co
SUPABASE_ANON_KEY=your-supabase-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key
SUPABASE_JWT_SECRET=your-supabase-jwt-secret
DATABASE_URL=postgresql://postgres:your-password@db.your-project-id.supabase.co:5432/postgres

GEMINI_API_KEY=your-gemini-api-key

BACKEND_URL=http://localhost:8000
SECRET_KEY=your-secret-key-for-jwt
CORS_ORIGINS=http://localhost:5173

VITE_API_URL=http://localhost:8000
VITE_SUPABASE_URL=https://your-project-id.supabase.co
VITE_SUPABASE_ANON_KEY=your-supabase-anon-key